<div class="menu-container">
    <div *ngIf="!isAdmin()" class="button-container">
        <div class="button">
            <span class="button-text">Jogar</span>
        </div>
        <div class="button">
            <span class="button-text">Ranking</span>
        </div>
        <div class="button">
            <span class="button-text">Consultar</span>
        </div>
    </div>
    <div *ngIf="isAdmin()">
        <div class="button" class="button-container">
            <span  class="button-text">Trilhas</span>
        </div>
        <div class="button">
            <span  class="button-text">Alunos</span>
        </div>
    </div>
</div>